COMPOSE_PROJECT_NAME=Local-docker-stack

REDIS_IMAGE=redis:8.0-rc1
REDIS_PORT=6379
REDISINSIGHT_PORT=5540

RABBITMQ_IMAGE=rabbitmq:4-management
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672
RABBITMQ_DEFAULT_USER=change_me
RABBITMQ_DEFAULT_PASS=change_me

POSTGRES_IMAGE=pgvector/pgvector:pg17
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=postgres
APP_DATABASES=app_db,messaging_db,platform_db

DATABASE_URL=postgresql://postgres:change_me@localhost:5432/app_db
MESSAGING_DATABASE_URL=postgresql://postgres:change_me@localhost:5432/messaging_db
AGENCY_DATABASE_URL=postgresql://postgres:change_me@localhost:5432/platform_db
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://change_me:change_me@localhost:5672
